doctype HTML
html(lang="sv-SE")
    head
        title Portfolio
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet")
        <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
        meta(name="viewport" content="width=device-width, initial-scale=1" viewport-fit="cover")
        link(rel="stylesheet" href="styles/style.css")

        // Google analytics
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-173554154-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-173554154-1');

    body#body
        main
            block content