extends layout

block content
    .center
        h1 Ange lösenord
        .card.padding-container
            input(type="password")#pswd
            div
                button#submit
                    p Ange
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    script(src="/javascripts/password.js")