
/*
COLORS
  bg: #edf2f5
*/
* {
    margin: 0;
    padding: 0;
  }
  body {
    background-image: url("../assets/bg2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
  }
  .center {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
  }
  .card {
    position: relative;
    width: 100%;
    margin: 40px 0 40px 0;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 15px;
  }
  .button {
    width: 200px;
    height: 30px;
    margin: 30px;
    border-radius: 30px;
    background-color: lightblue;
    padding: 10px 10px 10px 30px;
    display: flex;
    align-items: center;
  }
  button {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: inherit;
    border-style: none;
    margin: 10px;
    font-family : 'Open Sans';
    font-size: 0.9em;
    transition-duration: 200ms;
  }
  button:hover {
    transform: scale(1.03);
    transition-duration: 200ms;
    background-color: rgb(224, 224, 255);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  }
  button:active {
    transition-duration: 100ms;
    transform: scale(0.95);
    box-shadow: 0 0 0 0;
    text-decoration-color: black;
  }
  input {
    border-radius: 15px;
    font-size: 16px;
    padding: 10px;
    border-style: none;
    background-color: rgb(244, 244, 244);
  }
  a {
    color: #F066BB;
  }
  
  /* FONTS */
  h1 {
    font-family: 'Open Sans';
  }
  h2 {
    font-family: 'Open Sans';
    font-weight: 700;
    /*color: rgb(100,100,100);*/
    font-size: 30px;
  }
  h3 {
    font-family: 'Open Sans';
    font-weight: 700;
    color: black/* rgb(200,200,200)*/;
    font-size: 16px;
  }
  h4 {
    font-family: 'Open Sans';
    font-weight: 700;
    color: rgba(128, 128, 128, 0.913);
    font-size: 14px;
  }
  .palered {
    color: #B97F7F;
  }
  .paleblue {
    color: #8595c2;
  }
  #name {
    color: #F066BB;
    font-size: 70px;
    font-weight: 700;
    margin: 0;
  }
  #name-discreet {
    color: lightgray;
    margin: 50px 0 -10px 0;
  }
  #h3-margin {
    margin: 50px 0 -20px 0;
    color: black;
  }
  h4 {
    font-family: 'Open Sans';
  }
  p {
    font-family: 'Open Sans';
  }
  .ntd {
    text-decoration: inherit;
    display: inline-block;
}
  
  /* LAYOUT */
  .center-text {
    text-align: center;
  }
  .padding-container {
    padding: 20px;
  }
  .text-padding {
    padding: 20px 0 0 0;
  }
  .image-crop {
    width: 100%; /* width of container */
    height: 200px; /* height of container */
    overflow: hidden;
    border-radius:15px 15px 0 0 ;
    object-fit: cover;
  }
  .image-crop-circle {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    object-fit: cover;
    overflow: hidden;
  }
  .card-section {
    background-color: rgba(240, 102, 187,0.1);
    border-radius: 0 0 15px 15px;
    transition-duration: 300ms;
  }
  .card-section:hover {
    background-color: rgba(240, 102, 187,0.2);
    transition-duration: 300ms;
  }
  .ingress {
    color: rgb(133, 103, 103);
  }
  .symbol-container {
    width: 40px;
    height: 40px;
    margin: 0 20px 0 0;
  }
  .collapsiable-content {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-out;
  }
  .collapsiable-button {
    cursor: pointer;
  }
  .pinned-image {
    position: absolute;
    top: 120px;
    right: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
  .status-card {
    position: fixed;
    top: 100px;
    right: 100px;
    width: 200px;
    height: 200px;

  }
  .dsp-inline {
    display: inline-block;
  }
  
  @media(max-width: 700px) {
  
    .center {
      width: 90%;
    }
    body {
      background-image: url("../assets/bg_mobile.svg");
    }
    .pinned-image {
      width: 100px;
      height: 100px;
    }
    .status-card {
      position: relative;
      top: 0;
      right: 0;
      width: 87%;
    }
  
  }
  